

<tc-data-table  [data]="dataTable" (todata)="dataTable = $event" [itemsForPage]="10" >

  <thead>
    <tr>
      <th>Produto</th>        
      <th>CCloud</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let content of dataTable">
      <tr>
        <td>{{ content.product }}</td>
        <td>{{ content.cloud_id }}</td>
        <td>{{ content.created_at | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </ng-container>
  </tbody>

</tc-data-table>

<!--pre>{{ dataTable | json }}</pre-->